@charset "utf-8";
/* CSS Document */
*{padding:0px; margin:0px;}

#wrap_fri_list{
	position:absolute;
	bottom:0px;
	width:20%;
	border:1px solid #66C;
	margin:10px 5px 5px;
	overflow:hidden;
	float:left;
	
	
	}
#head_fri_list{
	float:left;
	top:0px;
	background:#66C;
	width:100%;
	text-align:center;
	margin-bottom:5px;
	padding:10px 0px;
	}	
#body_fri_list{
	float:left;
	max-height:600px;
	bottom:0px;
	overflow:auto;
	padding:5px;
	}	



